
<div class="cart-container">
    
    
    <div class="cart-container__header">
        <h1 class="cart-container__header__title">Koszyk</h1>
    <p class="cart-container__header__subtitle">Posiadasz <span>3</span> produkty w koszyku</p>
    </div>
    
    
    <CartItem></CartItem>
    <CartItem></CartItem>
    <CartItem></CartItem>


</div>




@code {
    
}