@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@page "/Mypadex"

<PageTitle>Kurwaaa</PageTitle>

<h3>lurwaa</h3>

<h1>zaraz mnie tu rozjebiueeeee aaaaaaa kurww qwertt aaaaaaaa aaaaaa!!!!!</h1>


<a href="#"> <button>Kliknij mnie kurwa</button> </a>

<button class="btn-primary"> kliknij mnie</button>

<button class="btn-danger" style="padding: 2px 6px; border-radius: 4px;" > JPDR </button>
<button class="btn-danger" style="padding: 4px 16px; border-radius: 4px;" > JPDR chuj mnie boli </button>

@code {
    
}