@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@page "/Mypadex"

<PageTitle>Kurwaaa</PageTitle>

<h3>lurwaa</h3>

<h1>zaraz mnie tu rozjebiueeeee aaaaaaa kurww qwertt aaaaaaaa aaaaaa!!!!!</h1>



hahahaa akurawwww 
<button class="btn-danger" style="padding: 4px 16px; border-radius: 4px;"> JPDR chuj mnie boli cicd pipeline  </button>


deploy app by CI pipeline  i nic 


@code {
    
}