@page "/Test"

@rendermode InteractiveServer

@inject NavigationManager navigationManager
@inject NavMenuManager navMenuManager

<PageTitle>Household</PageTitle>




<NavMenu BannerType="BanerType.NavigationSlim" />


<span style="font-size: 36px;">Jakis napis</span>